@font-face {
	font-family: Instagram;
	src: url(../fonts/instagram-r.otf);
}

body {
	background-color: rgb(250, 250, 250);
}

.container {
	top: 50%;
	left: 50%;
	margin: 0;
	position: absolute;
	flex-direction: column;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.apple-font {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.phone-img {
	image-rendering: crisp-edges;
}


.phone-img::before {
	position: absolute;
    left: 0;
    top: 0;
    height: 1000px;
	width: 500px;
    content: '';
	background-image: url(../img/phone-bg.jpg);
}

.login-block {
	display: flex;
	flex-direction: row;
	padding-bottom: 80px;
}

.login-container {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: unsafe center;
	margin-top: 30px;
}

.login-form {
	display: flex;
	position: relative;
	border: 1px solid rgb(219, 219, 219);
	background-color: white;
	width: 350px;
	height: 380px;
	flex-direction: column;
	align-items: unsafe center;
}

.logo {
	font-family: Instagram;
	font-size: 45px;
	margin: 20px;
	margin-bottom: 30px;
	color: #333333;
}

#mail, #password {
	width: 262px ;
	height: 35px;
	margin: 3px auto 3px;
	font-size: 12px;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 2px;
	padding-left: 10px;
}

#mail:focus, #password:focus {
	outline: 0;
	outline-offset: 0;
	border: 1px solid gray;
}

a.button {
	display: inline-block;
	background: #2196f3;
	color: #fff;
	padding: 8px;
	padding-right: 115px;
	padding-left: 115px;
	border-radius: 3px;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
}

div.login-btn {
	text-align: center;
	margin: 10px;
}

.split-line {
	display: flex;
	width: 268;
	height: 15;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	margin: 7px 6px 25px 6px;
	
}

.or {
	position: relative;
	font-size: 13px;
	color: rgba(var(--f52,142,142,142),1);
	font-weight: 600;
	margin: 0 20px 0 20px
}

.line {
	position: relative;

	border-bottom: 1px solid rgb(219, 219, 219);
	width: 100px;
}

.facebook-login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 268px;
	border: none;
	background: 0;
	cursor: pointer;
}

.facebook-icon {
	position: relative;
	margin: 2px 8px 0 0;
	width: 16px;
	height: 16px;
}

.facebook-text {	
	position: relative;
	color: #385185;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
}

.losepass {
	position: relative;
	color: #385185;
	text-decoration: none;
	font-size: 12px;
	margin-top: 17px;
}

.no-account {
	display: flex;
	position: relative;
	border: 1px solid rgb(219, 219, 219);
	width: 348px;
	height: 60px;
	justify-content: center;
	align-items:  center;
	flex-direction: row;
	margin-top: 10px;
	font-size: 14px;
}

#register {
	color: #2196f3;
	text-decoration: none;
	font-weight: 600;
	margin-left: 5px;
}

.download-app{
	display: flex;
	position: relative;
	font-size: 14px;
	justify-content: center;
	align-items:  center;
	margin: 20px 0 20px;
}

.get-app {
	display: flex;
	position: relative;
	justify-content: center;
	align-items:  center;
}

.app-image {
	width: 136px;
	height: 40px;
	margin: 0 4px;
	border-radius: 5px;
	image-rendering: crisp-edges;
}

.info-block {
	display: flex;
	justify-content: center;
	align-items:  center;
}

.info-block a {
	white-space: nowrap;
	color: rgb(143, 143, 143);
	text-decoration: none;
	font-size: 12px;
	margin: 8px;
}
